.div-button { 
    display:flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-bottom: 15px;
}

.button {
    height: 30px;
    width: 60px;
    margin: 5px;
}

.link-button:hover {
    background-color:dodgerblue; 
}

.link-button:hover {
    background-color: dodgerblue;
}

.link-button:active {
    color: white;
}


.link-button {
 text-decoration: none;
 color: black;
 height: 30px;
 width: 60px;
 margin: 5px;
 background-color: gray;
 border: black;
 border-radius: 10px;
 text-align: center;
}